:root {
  --bkg-color-pantalla: #f7c59f;
  --bkg-color-contenedor-calculadora: #2a324b;
  --btn-bkg-color: #767b91;
  --btn-text-color: #e1e5ee;
  --btn-igual-bkg-color: #db3a34;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.contenedor-calculadora {
  padding: 1rem;
  margin: auto;
  width: 30rem;
  background: var(--bkg-color-contenedor-calculadora);
  border-radius: 0.5rem;
}
.pantalla {
  margin: 1rem;
  padding: 1rem 2rem;
  width: 25.5rem;
  height: 5rem;
  border-radius: 0.5rem;
  background: var(--bkg-color-pantalla);
  font-size: 2rem;
  font-weight: 600;
}
.botones {
  width: 30rem;
}
.botones button {
  display: inline-block;
  margin: 0.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 19%;
  border-radius: 0.5rem;
  background: var(--btn-bkg-color);
  color: var(--btn-text-color);
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
}
.botones .igual {
  background: var(--btn-igual-bkg-color);
}
